body{
margin:40px auto;
max-width:650px;
line-height:1.6em;
font-size:18px;
color:#444;
padding:0 10px;
}

.date {
  font-size: 12px
}

article {
  margin-bottom: 30px
}

article img {
  display: block;
  max-width:100%;
  margin:auto;
}

h1,h2,h3{
line-height:1.2;
}

footer{
  margin-top:50px;
  font-size: 12px;
  text-align: center
}


textarea {
  width: 100%;
  box-sizing: border-box;
}

input {
  display: block;
  width: 100%;
}
